link(rel="import" href="../polymer/polymer.html")
link(rel="import" href="../iron-icons/image-icons.html")
link(rel="import" href="../iron-scroll-target-behavior/iron-scroll-target-behavior.html")
link(rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html")
link(rel="import" href="../paper-styles/color.html")

dom-module(id="paper-carousel")
	template
		style: include paper-carousel.css

		div.paper-carousel_wrapper
			content

	script: include paper-carousel.js
